In [1]:
import numpy as np

In [2]:
lista = [1,2,3,4,5,6]
array = np.array (lista)

In [3]:
print(lista)

[1, 2, 3, 4, 5, 6]

In [4]:
print(array)

[1 2 3 4 5 6]

In [6]:
arr_zeros = np.zeros(10)
print(arr_zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [7]:
array[0] = 9

In [9]:
print(array)

[9 2 3 4 5 6]

In [12]:
##matrizes
matriz_zeros=np.zeros((5,3))
print(matriz_zeros)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [16]:
lista_de_notas=[9.8,5.6,7.8,9.1,6.5]
notas=np.array(lista_de_notas)
print('maximo',notas.max())
print('minimo',notas.min())
print('desvio padrao',notas.std())
print('media',notas.mean())
print('posição do menor',notas.argmin())

maximo 9.8
minimo 5.6
desvio padrao 1.5628179676469045
media 7.76
posição do menor 1

In [19]:
##Mascaras booleanas

In [20]:
is_covid_positive = np.array(['yes','no','yes','yes', 'no', 'no'])

In [21]:
print(is_covid_positive)

['yes' 'no' 'yes' 'yes' 'no' 'no']

In [22]:
mask = (is_covid_positive=='yes')
print(mask)

[ True False  True  True False False]

In [24]:
##comparaçao
print(is_covid_positive[mask])

['yes' 'yes' 'yes']

In [25]:
##edição
is_covid_positive[mask]='C19'

In [26]:
print(is_covid_positive)

['C19' 'no' 'C19' 'C19' 'no' 'no']

In [27]:
notas = np.array([6.9,4.9,3.2,6.7])

In [28]:
mask_notas = (notas >=5)
print(mask_notas)

[ True False False  True]

In [29]:
##Panda Series

In [2]:
import pandas as pd

In [33]:
lista = [12,23,34,45,58,67]
serie_pandas = pd.Series(lista)

In [37]:
print(serie_pandas)
print(serie_pandas[0])

0    12
1    23
2    34
3    45
4    58
5    67
dtype: int64
12

In [38]:
notas = {'tiago':8, 'guilherme':9.5,'juca':6.2}
serie_notas = pd.Series(notas)
print(serie_notas)

tiago        8.0
guilherme    9.5
juca         6.2
dtype: float64

In [39]:
print(serie_notas['tiago'])

8.0

In [40]:
print(serie_notas.mean())
print(serie_notas.median())

7.8999999999999995
8.0

In [41]:
print(serie_notas.describe())

count    3.000000
mean     7.900000
std      1.652271
min      6.200000
25%      7.100000
50%      8.000000
75%      8.750000
max      9.500000
dtype: float64

In [42]:
## estudo de dataframe

In [3]:
##criar um dicionario com autores, livros e preço
dicionario = {'Autores':['Rick Riordan','J. R. R. Tolkien','Rick Riordan', 'Machado de Assis'],'Titulos':['ladrão de raios', 'sociedade do anel', 'mar de monstros','memorias postumas de bras cubas'],'Preço':[41.2,35.7,39.5,40.5]}

In [4]:
##datafrane
df = pd.DataFrame(dicionario)
print(df)

            Autores                          Titulos  Preço
0      Rick Riordan                  ladrão de raios   41.2
1  J. R. R. Tolkien                sociedade do anel   35.7
2      Rick Riordan                  mar de monstros   39.5
3  Machado de Assis  memorias postumas de bras cubas   40.5

In [5]:
df['Autores']

0        Rick Riordan
1    J. R. R. Tolkien
2        Rick Riordan
3    Machado de Assis
Name: Autores, dtype: object

In [48]:
df['Autores'][2]

'Rick Riordan'

In [54]:
print(df['Preço'])

0    41.2
1    35.7
2    39.5
3    40.5
Name: Preço, dtype: float64

In [55]:
df['Preço'].mean()

39.225

In [57]:
mascara= (df['Autores'] == 'Rick Riordan')
print(mascara)

0     True
1    False
2     True
3    False
Name: Autores, dtype: bool

In [58]:
df[mascara]

        Autores          Titulos  Preço
0  Rick Riordan  ladrão de raios   41.2
2  Rick Riordan  mar de monstros   39.5

In [22]:
df[df['Autores'] == 'Rick Riordan']['Titulos']

0       ladrão de raios
2       mar de monstros
4    a maldição do titã
Name: Titulos, dtype: object

In [7]:
df = df._append({'Autores':'Rick Riordan','Titulos':'a maldiça do titan','Preço':40.2}, ignore_index = True)

In [9]:
mascara_correcao = df['Titulos'] == 'a maldiça do titan'

In [13]:
df.loc[mascara_correcao, 'Titulos'] = 'a maldição do titã'

In [14]:
df

            Autores                          Titulos  Preço
0      Rick Riordan                  ladrão de raios   41.2
1  J. R. R. Tolkien                sociedade do anel   35.7
2      Rick Riordan                  mar de monstros   39.5
3  Machado de Assis  memorias postumas de bras cubas   40.5
4      Rick Riordan               a maldição do titã   40.2